<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :member %>
    <%= form.number_field :member %>
  </div>

  <div class="field">
    <%= form.label :debut_date %>
    <%= form.date_select :debut_date %>
  </div>

  <div class="field">
    <%= form.label :gender, "Gender" %>
    <%= form.select :gender, options_for_select(@genders) %>
  </div> 

  <h3>First event with us:</h3>
  <%= form.fields_for :events do |event_form| %>
    <div class="field">
      <%= event_form.label :date %>
      <%= event_form.date_select :date %>
    </div>

    <div class="field">
      <%= event_form.label :participant %>
      <%= event_form.number_field :participant %>
    </div>

    <div class="field">
      <%= event_form.label :duration %>
      <%= event_form.number_field :duration %>
    </div> 
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
