<p id="notice"><%= notice %></p>

<p>
  <strong>Band:</strong>
  <%= @event.group %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @event.participant %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
